<h1 align="center">Welcome to <%=@user.username %>'s page'</h1>
<div class="row">
  <div class="col-md-4 col-md-offset-4 center" >
    <%= gravatar_for @user, size: 150 %>
  </div>
</div>
<h4 align="center"><%= @user.username %>'s articles</h4>


<% if logged_in? && current_user.admin? && current_user!=@user || current_user==@user%>
  <div class="article-actions">
    <%= button_to "Delete Account", user_path(@user), :method => "delete", data: { confirm: "Are you sure" },
                  class: "btn btn-xs btn-danger" %>
  </div>
<% end %>

<!--truyen du lieu vao cho 1 component-->
<div align="center">
  <%= will_paginate @user_articles %>
</div>
<%= render 'articles/article', obj: @user_articles %>

<div align="center">
  <%= will_paginate @user_articles %>
</div>